<?xml version="1.0" encoding="utf-8"?>

<launch>
    <!-- Perform box crop on indoor lidar data -->
    <node pkg="lidar_dev" type="boxcrop_node" name="boxcrop" output="screen">
        <remap from="input" to="/ouster/points"/>
    </node>

    <!-- Ground segmentation -->
    <!-- add `output="screen"` if printing stdout is required -->
    <node name="ground_segmentation" pkg="linefit_ground_segmentation_ros" type="ground_segmentation_node">
        <rosparam command="load" file="$(find linefit_ground_segmentation_ros)/launch/segmentation_params.yaml"/>
        <!-- <param name="input_topic" value="/ouster/points" /> -->
        <param name="input_topic" value="/boxcrop_output" />
        <param name="ground_output_topic" value="ground_cloud" />
        <param name="obstacle_output_topic" value="obstacle_cloud" />
    </node>

    <!-- Perform clustering on segmentation obstacle output -->
    <node pkg="lidar_dev" type="cluster_node" name="cluster" output="screen">
        <rosparam command="load" file="$(find lidar_dev)/launch/cluster_params.yaml"/>
        <!-- <remap from="input" to="ground_segmentation/obstacle_cloud"/> -->
    </node>

    </launch>
